<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">

  <head>
    <meta charset="UTF-8">
  </head>

  <body>
    <main>
      <p id="notice"></p>
      <div class="container">
        <div class="row">
          <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">

            <h1 class="px-3 mx-auto">
            Welcome to

            <strong>Bookers</strong>
            !
            </h1>

          </div>
         </div>
        </div>
       </div>
    </main>
    
  </body>
</html>